service cloud.firestore {
  match /databases/{database}/documents {
    match /trips/{tripId}{
    	function userCanUpdateTrip() {
        return get(/databases/$(database)/documents/trips/$(tripId)).data.users[request.auth.uid];
      }

      allow read: if true;
      allow write: if userCanUpdateTrip();

      match /{allChildren=**} {
        allow read, write: if userCanUpdateTrip();
      }
    }
     match /users/{userId}{
    	function isSelf() {
        return request.auth.uid == userId;
      }

      allow read: if true;
      allow write: if isSelf();

      match /{allChildren=**} {
        allow read, write: if isSelf();
      }
    }
    match /invites/{inviteId} {
    	allow create, read, write, delete: if true;
    }
  }
}
